page-day-details {
    // meter { 
    //     height: 20px;  /* Can be anything */
    //     position: relative;
    //     background: #555;
    //     -moz-border-radius: 25px;
    //     -webkit-border-radius: 25px;
    //     border-radius: 25px;
    //     padding: 10px;
    //     box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    // }
    .contentBackground{
        background-color: #161823;

    }
    .hour{
        color:white
    }
    .temp{
        color:white
    }
    .navBar{
        background-color:#161823;

    }
    .toolbar-title{
        color:white


    }
    meter::-webkit-meter-optimum-value {
        background: green; /* Green */
    }
    meter::-webkit-meter-suboptimum-value {
        background: #E73F67; /* Green */
    }
    meter::-webkit-meter-even-less-good-value {
        background: rgb(48, 4, 14); /* Green */
    }
    ion-navbar{
        background-color: #161823;

    }

    

}
