page-logo {
    .no-scroll .scroll-content{
        overflow: hidden;
      }
 .LogoBackGround{
    background: url(../assets/imgs/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
.L1{
    background: url(../assets/imgs/l1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.L2{
    background: url(../assets/imgs/l2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.img{
    margin: 5px;
    float: left;
    
}
}
$body-bg: none; 
