<ion-header class="head" padding>

  <h1 class="title" padding>Tawaf</h1>



</ion-header>

<ion-content padding class="backGround">
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row padding class="calendar-weekday">
        <ion-col>Sun</ion-col>
        <ion-col>Mon</ion-col>
        <ion-col>Tus</ion-col>
        <ion-col>Wed</ion-col>
        <ion-col>Thu</ion-col>
        <ion-col>Fri</ion-col>
        <ion-col>Sat</ion-col>

      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span style="color:blue" (click)="dayDetails(day)" class="currentDate" *ngIf="currentDate === day; else otherDate">
            {{day}}
          </span>
          <ng-template #otherDate class="otherDate">
            <div *ngIf="monthRate[day-1]<41" style="color:#F2CE4A" (click)="dayDetails(day)">
              {{day}}
            </div>
            <div *ngIf="monthRate[day-1]>=41&&monthRate[day-1]<45" style="color:rgb(255, 0, 98)" (click)="dayDetails(day)">
              {{day}}
            </div>
            <div *ngIf="monthRate[day-1]>=45" style="color:rgb(81, 110, 143)" (click)="dayDetails(day)">
              {{day}}
            </div>

            <!-- <p  (click)="dayDetails(day)">{{day}}</p> -->
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>

    <div padding>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="dot1"> </span>
          </ion-col>
          <ion-col>
            <span class="dot2"></span>
          </ion-col>
          <ion-col>
            <span class="dot3"></span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            crowded
          </ion-col>
          <ion-col>
            uncrowded
          </ion-col>
          <ion-col>
            medium crowd
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-row padding>
         <ion-col col-4 > 
            <span class="dot1"> </span>
            </ion-col>
            <ion-col col-4 > 
            <ion-label color="primary" > Crowded</ion-label>
            </ion-col>

    
      </ion-row>
      <ion-row padding>
          <ion-col col-4>
          <span class="dot2"></span>
          </ion-col>
          <ion-col col-4>
          <ion-label color="primary" fixed> UnCrowded</ion-label>
        </ion-col>
     
      </ion-row> 
      <ion-row padding>
          <ion-col col-4>
          <span class="dot3"></span>
        </ion-col>
        <ion-col col-4><ion-label color="primary" fixed>Medium Crowded</ion-label></ion-col> 
          
          
          </ion-row>  -->

    </div>
  </div>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons end>
          <button ion-button clear icon-only (click)="deleteEvent(se)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <h2>{{se.title}}</h2>
        <h3>{{se.message}}</h3>
        <p>Start Date: {{se.startDate}}
          <br> Start Date: {{se.endDate}}</p>
      </ion-item>
    </ion-list>

  </div>




</ion-content>